#outer{
    margin: 50px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 40px 30px;
    padding-top: 30px;
    justify-content: space-evenly;
}


img{
    width: 200px;
    height: 200px;
    /* border: 2px solid black; */
}