
/* Slider Image  Section*/

.mySlides img{
    width: 100%;
    height: 80vh;
}



.mySlides {
    display: none;
}

.dot {
    height: 11px;
    width: 11px;
    margin: 0 4px;
    background-color: #686363;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}
.dots {
    margin-top: -30px;
    text-align: center;
}

.active {
    background-color: #f5e8e8;
}

.slideshow {
    max-width: 100%;
    position: relative;
    margin: auto;
}







/* main  Dishes Section*/

#h1{
    margin: 50px auto 100px;
    text-align: center;
    font-size: 21px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-decoration: underline;

}



h3{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 5px;
}



.section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.dishes{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
}

.dishes .inner{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

     

}
.dishes .inner img{
    width: 120px;
    height: 120px;
    border: 0px solid transparent;
    border-radius: 50%;
}





