 /* Global Resetting */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* box-sizing:content-box; */
}

main{
    margin-top: 50px;
}

nav{
    height: 50px;
    /* border: 2px solid black; */
    /* border-bottom: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #57acf7;
    position: fixed;
    width: 100%;
    top: 0;

}

.logo, .menu{
    width: 450px;
    height: 40px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;

}

.logo>h1{
    color: black;
    font-size: 40px;
    padding-left: 20px;
    font-weight: 500;
}

.menu>ul{
    display: flex;
    width: 400px;
    justify-content: space-evenly;
    align-items: center;   
    list-style: none;
    
}

.menu>ul>li{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s;
    
}

.menu>ul>li .btn{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid black;
    padding: 2px 10px;
    background-color: rgb(247, 211, 11);
   
    
}

.menu>ul>li>a{
    text-decoration: none; 
    color: black;
    border-radius: 5px;
    padding: 0px 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}


.logo img:nth-child(1){
    width: 60px;
    height: 45px;
}
.logo img:nth-child(2){
    width: 200px;
    height: 50px;
}






/* footer */