
/* Global Resetting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* box-sizing:content-box; */
}

.sectionform{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 221, 218);
    
}

form{
    background-color: rgb(250, 249, 248);
    width: 28%;
    /* border: 2px solid red; */
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

h1{
    font-size: 35px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.anchor{
    text-decoration: none;
    margin: 10px auto 10px;
    font-size: 17px;
    color: black;
}
.anchor1{
    text-decoration: none;
    margin: 2px auto 50px;
    font-size: 17px;
    color: black;
}
.anchor:hover, .anchor1:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    
    padding: 0;
}

.button1{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;

}
.button1 a{
    text-decoration: none;
    width: 40%;
    text-align: center;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 30px auto  10px;
    background-color: rgb(36, 36, 252);
    color: white;
}



input{
    width: 65%;
    border: 1.5px solid black;
    padding: 8px 10px;
    border-radius: 5px;
    margin: 20px auto  0px;
    font-size: 15px;
    letter-spacing: 1px;
}

input[type="submit"]{
    width: 40%;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 30px auto  10px;
    background-color: rgb(36, 36, 252);
    color: white;


}
input[type="submit"]:hover{
    /* width: 50%; */
    
    background-color: rgb(36, 36, 252);
    color: white;


}

